body {
  background: repeating-radial-gradient(circle farthest-corner at 30px 20px, #fff, aquamarine);
}
.block {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: teal;
}

.input {
  width: 300px;
  height: 50px;
  border-width: 7px;
  border-style: outset;
  border-color: teal;
  font-size: 20px;
}

.error {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
